dist/
*.log
ngconfig
node_modules
bower_components
motusquo.sublime-project
motusquo.sublime-workspace
client/.sass-cache/*
client/.tmp/styles/main.css
*.swp
*.log
*.xml
.tmp/*
*.scssc
.migrate
.tmp
.sass-cache
.sass-cache/*
*.scssc
client/dist/*
out/*
